.main_container{
    width: 100%;
    height: 100%;
}
.sidebar_container{
    width: 100%;
    height: 100%;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 25px 0px 0px 25px;
}

.logo_container{
    text-align: center;
}

.logo{
    cursor: pointer;
}

.search{
    font-size: 24px;
    color: #A4A4A4;
    cursor: pointer;
}

.main_menu_container{
    text-align: center;
    margin-top: 35px;
}

.main_menu{
    font-size: 24px;
    color: #A4A4A4;
    cursor: pointer;
    width: 65%;
    margin: 20px auto;
    margin-bottom: 34px;
    padding: 2px;
    border-radius: 8px;
}

.menu_active{
    font-size: 24px;
    background-color: #3E2EDF;
    color: #fff;
    cursor: pointer;
    width: 65%;
    margin: 20px auto;
    padding: 2px;
    border-radius: 8px;
}

.main_menu:hover{
    background-color: #3E2EDF;
    color: #fff;
}

.footer_menu_container{
    margin-top: 75px;
    text-align: center;
}

.footer_menu_container .main_menu{
    margin-bottom: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .search,
    .main_menu,
    .menu_active{
        font-size: 22px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .search,
    .main_menu,
    .menu_active{
        font-size: 20px;
    }
}