.retirement_card{
    border: 0;
    padding: 8px;
    margin-top: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    border-radius: 0px 25px 25px 0px;
    background-image: url("../images/bg_image.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: scroll;
}

.retirement_container>h3{
    color: #434343;
    font-size: 22px;
    font-weight: 900;
    margin-left: 25px;
}

.em_contribution{
    margin-top: 16px;
    width: 85%;
    margin: 10px auto;
}

.em_contribution>p,
.retirement_age>p,
.em_rate,
.in_rate{
    font-size: 18px;
    color: #434343;
    font-weight: 700;
}

.em_con_bar,
.re_ag_ber{
    margin-top: 0;
}

span,
span{
    color: #535353;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
}

input[type=range].range-slider{
    width: 170%;
}

.update_btn{
    width: 85%;
}

.nav-link{
    font-weight: 800;
}

.question_main_section{
    border-left: 2px solid #A298FF;
    margin-top: 35px;
}

.question_section{
    margin-left: 40px;
}

.q1{
    color: #646464;
    font-weight: 700;
}

.q2{
    color: #2F2F2F;
    font-size: 20px;
    font-weight: 900;
    margin-top: -20px;
}

.q3{
    color: #B7B7B7;
    font-weight: 700;
    margin-top: -10px;
}

.learn_more{
    margin-left: -16px;
    margin-top: -8px;
}


@media only screen and (min-width: 992px) and (max-width: 1199px){
    .retirement_container>h3{
        font-size: 20px;
    }

    .em_contribution>p,
    .retirement_age>p,
    .em_rate,
    .in_rate{
        font-size: 16px;
    }

    span,
    span{
        font-size: 16px;
    }

    input[type=range].range-slider{
        width: 130%;
    }

    .q2{
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .retirement_container>h3{
        font-size: 17px;
    }

    .em_contribution>p,
    .retirement_age>p,
    .em_rate,
    .in_rate{
        font-size: 14px;
    }

    span,
    span{
        font-size: 14px;
    }

    input[type=range].range-slider{
        width: 100%;
    }

    .q2{
        font-size: 16px;
    }

    .nav-link {
        font-weight: 500;
    }

    .q1 {
        font-weight: 600;
    }
}